body {
    font-family: 'Sans Source Pro', sans-serif; 
  }
  
  table {
      margin: auto;
  }
  
  th {
      background: lightblue;
  }
  
  td {
      background: khaki;
      text-align: center;
  }